<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="TargetURL" value="http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev"/>
    <add key="ServiceKey" value="IvM5tfBcbwiSppHmg2ipEeF998%2B6JoUHaXCHMW8BS1zayTkk57MBzKmdOar5pxmnONdbRUnNlfO%2F1cerCg8Wag%3D%3D"/>
  </appSettings>
</configuration>
