<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="TargetURL" value="http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev"/>
    <add key="ServiceKey" value="E2zP8+gX+JvtIjFCrG9H/Y2Sg4tbMghbpvLZ5ijO4lHG/TmuFBuRbDekUhOSYGXktGRl/xhSKCQ9nQgGbs1PufVJnAgKQaDFq7aAEyJ/6q5xdj0ssyJT3ghlLYOksiJEgYZ1D7o9i04="/>
  </appSettings>
</configuration>
